

<div id="wrap">
    <div id="main" class="col-lg-12">
        <div class="col-lg-8">
            <slick dots=true arrows="true" fade="true" infinite=false speed=300 slides-to-show=2 autoplay="true" center-mode="true" touch-move=false slides-to-scroll=1 init-onload=true data="slides">
                <div ng-repeat="slide in slides">
                    <h1>{{ slide.title}}</h1>
                    <div ng-bind-html="slide.content | to_trusted">
                    </div>
                </div>
            </slick>
        </div>



        <!--<input type='text' ng-model="yourModel" ng-virtual-keyboard/>-->

        <!--        <div ng-carousel ng-carousel-name="example-carousel1" ng-carousel-watch="slides">
                    <slidecontainer>
                        <slide ng-repeat="slide in slides">{{slide.title}}</slide>
                    </slidecontainer>
                </div>-->
        <!--        <div class="col-lg-8" style="margin:2em 0 0 0">
                                <div bxslider class="slider col-lg-12">
                                    <div class="col-lg-12 sl" style="height: 40em;" ng-repeat="slide in slides" bxsliderItem>
                                        <div style="padding-top: 10em">
                                            <h1 class="text-center">
                                                {{ slide.title}}
                                            </h1>
                                            <div style="padding: 3em 10em 5em 10em;" ng-bind-html="slide.content | to_trusted"></div>
                                        </div>
                                    </div>
                                </div>
                   
                </div>
        
                <div class="col-lg-4">
                    <h1>
                        <div>
                            Today is {{ clock | date:'longDate'}}
                        </div>
                        <div>
                            {{ clock | date:'shortTime'}}
                        </div>
                    </h1>
                </div>
                <div class="col-lg-3" style="margin:2em 0 0 0;">
                    <div style="padding:6em; background-color: #99ff99;">
                        Announcements
                    </div>
                    <div style="padding:6em; background-color: #ff6666">
                        Map
                    </div>
                    <div style="padding:6em; background-color: #003333;">
                        Calendar
                    </div>
                </div>-->
    </div>
</div>