
<div class="col-lg-10 col-lg-offset-1 well margin-top-3x" ng-if="announcement.visible" style="min-height: 80vh;">
    <div>
        <a ng-click="previous()" class="btn btn-success"><i class="fa fa-arrow-left"></i></a>
    </div>
    <div class="text-center text-primary" style="font-size: 3em;">
        {{ announcement.title}}
    </div>
    <div class="text-center" style="color: #999999; ">
        Posted
        {{ announcement.date_posted | timeAgo:"mediumDate" }}
    </div>

    <div ng-if="announcement.type == 'plain'" class="col-lg-10 col-lg-offset-1">
        <div class="margin-top-1x" ng-bind-html="announcement.html_content | to_trusted" style="font-size: 2em; text-align: justify;">
        </div>
    </div>
    <div ng-if="announcement.type == 'image'">
        <div ng-if="announcement.description" class="col-lg-4 col-lg-offset-4 text-center" style="border: 1px solid #cccccc; border-radius: 5px; min-height: 5em; background: #ececec; padding: 1em;">
            {{ announcement.description}}
        </div>
        <div class="margin-top-2x">
            <div id="image-container" class="col-lg-11 text-center" style="height: 70em; width: 110em;">
                <img class="scale" scale  ng-src="{{webPath + announcement.document.wpath}}" data-scale="best-fit" data-align="center">
            </div>
        </div>
    </div>
</div>