<div>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
            <a ui-sref="user.browse">
                Admins
            </a>
        </li>
        <li>
            View
        </li>
    </ul>
</div>
<div class="well row col-lg-8 col-lg-offset-2">
    <h1 class="text-center">
        View Admin
    </h1>
    <div class="text-center margin-top-2x">
        <div>
            <div class="user-label">
                Name
            </div>
            <div class="user-info">
                {{ user.first_name }} {{ user.last_name }}
            </div>
        </div>
        <div>
            <div class="user-label">
                Username
            </div>
            <div class="user-info">
                {{ user.username }}
            </div>
        </div>
        <div>
            <div class="user-label">
                Email
            </div>
            <div class="user-info">
                {{ user.email }}
            </div>
        </div>
    </div>
</div>
