<div>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
            <a ui-sref="user.browse">
                Encoders
            </a>
        </li>
        <li>
            View
        </li>
    </ul>
</div>
<div class="well row col-lg-8 col-lg-offset-2">
    <a class="btn btn-success pull-left" ng-click="previous()">
        <i class="fa fa-arrow-left"></i>
    </a>
    <h1 class="text-center">
        View Encoder
    </h1>
    <div class="text-center margin-top-2x">
        <div>
            <div class="user-label">
                Name
            </div>
            <div class="user-info">
                {{ user.first_name}} {{ user.last_name}}
            </div>
        </div>
        <div>
            <div class="user-label">
                Username
            </div>
            <div class="user-info">
                {{ user.username}}
            </div>
        </div>
        <div>
            <div class="user-label">
                Email
            </div>
            <div class="user-info">
                {{ user.email}}
            </div>
        </div>
        <div class="margin-top-1x">
            <a id="changePass" ng-click="change()" class="btn btn-primary">Change Password</a>
        </div>
    </div>
</div>

<div id="changePassModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Password</h4>
            </div>

            <form name="passFrm" novalidate ng-submit="changePass()">
                <div class="modal-body col-lg-12">
                    <input ng-if="isOwner()" type="password" class="form-control" placeholder="Old Password" required ng-model="pass.old">
                    <input type="password" class="form-control margin-top-1x" placeholder="New Password" required ng-model="pass.new">
                    <input type="password" class="form-control margin-top-1x" placeholder="Confirm Password" required ng-model="pass.confirm">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-disabled="passFrm.$invalid" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

