<div>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
            <a ui-sref="user.browse">
                Admins
            </a>
        </li>
        <li>
            View
        </li>
    </ul>
</div>
<div class="well row  col-lg-8 center">
    <h1>
        View Admin
    </h1>
    <h2>
        {{ user.username }}
    </h2>
    <h2>
        {{ user.email }}
    </h2>
    <h2>
        {{ user.enabled }}
    </h2>
</div>
