<div class="well col-lg-10 col-lg-offset-1 margin-top-3x" style="min-height: 80vh;">
    <div>
        <a ng-click="previous()" class="btn btn-success"><i class="fa fa-arrow-left" style="font-size: 2em;"></i></a>
    </div>
    <div class="text-center text-primary" style="font-size: 10vh;">
        View Faculty Member
    </div>
    <div ng-if="loaded" class="col-lg-12 margin-top-2x">   

        <div class="col-lg-12 margin-top-1x">
            <div class="text-center">
                <img style="width: 30vmin; height: 30vmin; border: 1px solid #e0dddd;" ng-if="faculty.picture" scale ng-src="{{webPath + faculty.picture.wpath}}" data-scale="best-fit"/>
                <img style="width: 30vmin; height: 30vmin; border: 1px solid #e0dddd;" ng-if="!faculty.picture" scale ng-src="{{webPath + 'uploads/default/profile.png'}}" data-scale="best-fit"/>
            </div>
            <div class="text-center" style="font-size: 10vh;">
                {{ faculty.first_name}} {{ faculty.last_name}}
            </div>
            <div class="margin-top-1x">
                <div class="col-lg-6">
                    <div class="panel panel-info text-center profile-field">
                        <div class="panel-heading">
                            College
                        </div>
                        <div class="panel-body">
                            <div class="panel-body-child">
                                {{ faculty.department.college.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-primary text-center profile-field">
                        <div class="panel-heading">
                            Department
                        </div>
                        <div class="panel-body">
                            <div class="panel-body-child">
                                {{ faculty.department.name}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-success profile-field">
                        <div class="panel-heading text-center">
                            Office
                        </div>
                        <div class="panel-body">
                            <div class="panel-body-child">
                                <span ng-if="!faculty.office">
                                    N/A
                                </span>
                                {{ faculty.office}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel profile-field">
                        <div class="panel-heading text-center" style="background: #ffe0aa;">
                            Email
                        </div>
                        <div class="panel-body">
                            <div class="panel-body-child">
                                <span ng-if="!faculty.email">
                                    N/A
                                </span>
                                {{ faculty.email}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
