<div>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
            <a ui-sref="user.browse">
                Encoders
            </a>
        </li>
        <li>
            Edit
        </li>
    </ul>
</div>
<div class="well row  col-lg-8 center">
    <h1>
        Edit Encoder
    </h1>
    <form class="form-group text-left" ng-submit="submit()" novalidate name="userFrm">
        <div class="form-group">
            <label for="user.email" class="required">Email</label>
            <input id="user.email" name="user.username" class="form-control" required type="text" ng-model="user.email" />
        </div>
        <div class="form-group">
            <label for="user.username" class="required">Username</label>
            <input id="user.username" name="user.username" class="form-control" required type="text" ng-model="user.username" />
        </div>
        <div class="form-group">
            <label for="user.first_name" class="required">First Name</label>
            <input id="user.first_name" name="user.first_name" class="form-control" required type="text" ng-model="user.first_name" />
        </div>
        <div class="form-group">
            <label for="user.last_name" class="required">Last Name</label>
            <input id="user.last_name" name="user.last_name" class="form-control" required type="text" ng-model="user.last_name" />
        </div>

        <input type="submit" value="Update" ng-disabled="userFrm.$invalid"  class="btn btn-primary center-block col-lg-2" />
    </form>
</div>
