<div>
    <ul class="breadcrumb">
        <li>
            <a ui-sref="home"><i class="fa fa-home"></i> Home</a>
        </li>
        <li>
            <a ui-sref="user.browse">
                Admins
            </a>
        </li>
        <li>
            Browse
        </li>
    </ul>
</div>

<div class="well row  col-lg-10 center">
    <h1>
        Browse Admins
    </h1>
    <div class="text-left form-group">
        <button type="button" id='toggleFiltering' ng-model="filterToggle" ng-click="toggleFiltering()" class="btn btn-success" uib-btn-checkbox uib-btn-checkbox-true="1" uib-btn-checkbox-false="0">
            <i class="fa fa-filter"></i> Filter
        </button>
    </div>
    <div ui-grid="gridOptions">
    </div>

</div>

<div id="disableModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Please enter your password to confirm action</h4>
            </div>
            <form name="conFrm" novalidate ng-submit="confirm()">
                <div class="modal-body col-lg-12">
                    <input type="password" class="form-control" placeholder="Password" required ng-model="password">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" ng-disabled="conFrm.$invalid" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

