<div class="well col-lg-4 col-lg-offset-4 margin-top-3x">
    <a class="btn btn-success pull-left" ng-click="previous()">
        <i class="fa fa-arrow-left"></i>
    </a>
    <h2 class="text-center margin-top-2x">
        Please choose the type of your announcement
    </h2>
    <div class="col-lg-4 col-lg-offset-4 margin-top-1x">
        <a class="btn btn-primary btn-block" ui-sref="announcement.new_plain"><i class="fa fa-file-text"></i> Plain</a>
    </div>
    <div class="margin-top-1x col-lg-4 col-lg-offset-4">
        <a class="btn btn-success btn-block" ui-sref="announcement.new_img"><i class="fa fa-file-image-o"></i> Image</a>
    </div>
</div>