html, body {
    overflow-x: hidden;
}
.form-row{
    padding-bottom: 100px;
}

.tooltip-inner {
    white-space:pre;
    max-width:none;
}

.required span{
    opacity: 1;
}

.required:after {
    content: '*';
    color: red;
    font-size: 16px;
}

.invalid:after{
    font-family: FontAwesome;
    content: " \f06a";
    font-size: 1em;
    color: red;
}

.ui-view-container {
    position: relative;
}

[ui-view] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

[ui-view].ng-leave {
    -webkit-animation-name: fadeOutUp;
    -moz-animation-name: fadeOutUp;
    -ms-animation-name: fadeOutUp;
    -o-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; 
}
[ui-view].ng-enter {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    -o-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: .5s;
    -moz-animation-duration: .5s;
    -ms-animation-duration: .5s;
    -o-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-delay: .5s;
    -moz-animation-delay: .5s;
    -ms-animation-delay: .5s;
    -o-animation-delay: .5s;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -ms-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden; 
}

/*loading*/

#loading{
    position: absolute;
    z-index: 999;
    height: 100%;
    width: 100%;
    overflow: show;
    text-align: center;
}

.loader span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 50px auto;
    background: black;
    border-radius: 50px;
    -webkit-animation: loader 0.9s infinite alternate;
    -moz-animation: loader 0.9s infinite alternate;
}
.loader span:nth-of-type(2) {
    -webkit-animation-delay: 0.3s;
    -moz-animation-delay: 0.3s;
}
.loader span:nth-of-type(3) {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
}
@-webkit-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -webkit-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -webkit-transform: translateY(-21px);
    }
}
@-moz-keyframes loader {
    0% {
        width: 10px;
        height: 10px;
        opacity: 0.9;
        -moz-transform: translateY(0);
    }
    100% {
        width: 24px;
        height: 24px;
        opacity: 0.1;
        -moz-transform: translateY(-21px);
    }
}

#cont{
    height: 100vh;
    overflow-y: scroll;
}

.nav-slide{
    border: 0.2em solid #ffffff;
    padding: 3em;
    background-color: #cfe3f3;
}

.slider-for{
    height: 70vh;
    padding: 1vh;
    border: 0.5em solid #ccd4d7;
    border-radius: 1em;

    transition: background 200ms linear;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
}

.slider-for .slick-slide{
    height: 65vh;
}

.margin-top-1x{
    margin-top: 1vh;
}

.margin-top-2x{
    margin-top: 2vh;
}

.margin-top-3x{
    margin-top: 3vh;
}

.margin-top-4x{
    margin-top: 4vh;
}

.margin-top-5x{
    margin-top: 5em;
}


.slick-prev:before, .slick-next:before{
    color: #898c8e;
    font-size: 50px;
}

.slick-prev{
    left: -55px;
}

.blink {
    animation: blink 1s steps(5, start) infinite;
    -webkit-animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

.slider-nav .slick-slide {
    border:  0.3vh solid #cfcfcf;
    height: 16vh;
    padding: 2vh;
    border-radius: 5px;
    margin: 0 0.2vw 0 0.2vw;

}

.slider-nav .slick-current{
    border-color:  #83c5fa;
}

.slick-slide {
    outline: none;
}


.bg-yellow{
    background-color: #f3f2cb;
}

.slide-title{
    word-wrap: normal;
}

.foot {
    position: absolute;
    bottom: 0vh;
    width: 100%;
    padding-left: 0.5vw;
}

.foot a {
    outline: none;
}

.user-info{
    font-size: 3em;
    color: #38a7ff
}

.user-label{
    font-size: 2em;
    margin-top: 1em;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100%;
    height: 5em;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}

.dropzone {
    border: 2px dashed blue;
}

textarea {
    resize: none;
}

.search-item{
    border: 0.2em solid #aaafaa;
    border-radius: 5px; 
    padding: 2vmin;
    margin-bottom: 1vh;
}

.search-even{
    background: #fbfbc9;
}
.search-odd{
    background: #bff3c0;
}

.profile-field{
    font-size: 2.5em;
}

.profile-field .panel-body{
    min-height: 5em;
    display: table;
    width: 100%;
}

.panel-body-child{
    display: table-cell; 
    vertical-align: middle; 
    text-align: center;
}

.popover {
    max-width: 25em;
}

.tour-tour .popover-navigation {
    width: 25em;
}

.tour-tour .popover-title{
    font-size: 2em;
    text-align: center;
    padding: 0.5em;
    background: #bfe1f8;
    color: black;
}

.tour-tour .popover-content{
    font-size: 1.3em;
    text-align: center;
}

.btn-d-yellow {
    background: #c3c05d;
    color: white;
    border: 1px solid #cccccc;
}
.btn-d-blue {
    background: #a8bdc0;
    color: white;
    border: 1px solid #cccccc;
}

.btn-orange {
    background: orange;
    color: white;
    border: 1px solid #cccccc;
}

.sm-board-btn {
    font-size: 1.8vw;
    padding: 0.5vw;
}

.sm-board-btn-1st {
    margin-left: 1vw;
}

.sm-board-btn-rest {
    margin-left: 0.7vw;
}

.pad-left-1 {
    padding-left: 0.1em;
}

.expand {
    font-size: 3vh; 
    outline: none; 
    color: #6699ff;
}

#eng-logo img{
    width: 18vw;
}

.calendar-month {
    color: white;
    font-size: 3.5vmin;
}

.calendar-date {
    font-size: 10vh;
}

.calendar-day {
    font-size: 4vmin;
}

.clock{
    border-radius: 0.5em; 
    border: 1px solid #cccccc;
}

.clock .time {
    font-size: 7vmin;
}

.clock .am-pm {
    font-size: 3.5vmin;
}

.announcement-summary {
    font-size: 2.5vmin;
    padding: 1em 0 1em 0;
    border: 1px solid #d9dada;
    border-radius: 0.5vh;
}

.announcement-count{
    font-size: 3vmin;
}

.ticker {
    position: absolute;
    bottom: -100vh;
    padding: 1.6vh;
    height: 7vh;
}

.ticker-2 {
    right: 0;
    float: right;
    min-width: 100%;
    overflow: hidden;
}

.ticker-text{
    font-size: 2.8vh;
}

.ticker-separator {
    font-size: 2vh;
    color: blue;
}

.bg-gold {
    background: gold;
    color: black;
}


.bg-dk-blue {
    background: #005c9d;
    color: white;
}

.slide-image {
    padding: 1em 3em 1em 3em;
    height: 35em;
    overflow-y: auto;
    overflow-x: hidden;
}

.text-yellow {
    color: yellow;
}


.form-checkbox {
    margin-top: -0.9em;
}

.form-checkbox-lbl{
    font-size: 1.8em;
}


.slide-content-plain {
    font-size: 2em;
    text-align: justify;
}

.board-btn i {
    font-size: 6vw;
}

.board-btn div {
    font-size: 3vw;
}

.ticker-1 {
    z-index: 999;
}

.ui-grid-row:hover .ui-grid-cell {
    background: #bbe4f6;
}

.btn:focus {
    color: white;
}

.profile-field{
    word-break: break-all;
}