<div class="well col-lg-10 col-lg-offset-1 margin-top-3x" style="min-height: 80vh;">
    <div>
        <a ui-sref="board.show" class="btn btn-success"><i class="fa fa-arrow-left" style="font-size: 2em;"></i></a>
    </div>
    <div class="text-center text-primary" style="font-size: 5em;">
        Search Announcement
    </div>
    <div class="col-lg-12 margin-top-2x">   
        <div class="col-lg-6 col-lg-offset-3">
            <div class="input-group">
                <input type="text" class="form-control search" style="font-size: 5em; height: 1.5em;" ng-model="query" placeholder="Enter keyword...">
                <input type="hidden" class="form-control search" is-open="searchDate.opened" uib-datepicker-popup="longDate"  style="font-size: 5em; height: 1.5em;" ng-model="rawQuery" placeholder="Enter keyword...">

                <span class="input-group-btn" ng-if="searchMode == 'date'">
                    <button type="button" class="btn btn-primary" ng-click="openCal()"><i style="font-size: 6em;" class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="text-center col-lg-12 margin-top-1x">
            <div style="font-size: 1.5em;">
                Search by:
            </div>
            <div class="btn-group col-lg-4 col-lg-offset-4">
                <label class="btn btn-primary col-lg-6" style="font-size: 2em;" ng-model="searchMode" uib-btn-radio="'keyword'">Keyword</label>
                <label class="btn btn-primary col-lg-6" style="font-size: 2em;" ng-model="searchMode" uib-btn-radio="'date'">Date</label>
            </div>
        </div>
        <div class="col-lg-12 margin-top-3x">
            <a ui-sref="announcement.show({id: a.id})" class="search-link" style="text-decoration: none; color: black;" ng-repeat="a in announcements| filter:query">
                <div ng-class-odd="'search-odd'"  ng-class-even="'search-even'" class="col-lg-4 search-item" >
                    <div style="font-size: 2em;">
                        {{ a.title | limitTo:25 }}
                        <span ng-if="a.title.length > 25">
                            . . .
                        </span>
                    </div>
                    <div style="color: #838583;">
                        Posted {{ a.date_posted |  timeAgo:"mediumDate" }}
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>